@page "/Service/Delete"
@using Junct.WASM.Hosted.Shared.Models

@inject HttpClient Http
@inject NavigationManager NavigationManager

<Card>
    <CardTitle>Are you sure you want to delete this service?</CardTitle>
    <CardTitle>@service.Name</CardTitle>
    <CardText>@service.Description</CardText>
    <CardText>@service.Address</CardText>
    <Buttons Role="ButtonsRole.Toolbar">
        <Buttons>
            <Button Type="ButtonType.Button" Clicked="@Delete" Color="Color.Danger">Delete</Button>
            <Button Type="ButtonType.Button" Clicked="@Cancel" Color="Color.Secondary">Cancel</Button>
        </Buttons>
    </Buttons>
</Card>

@code {
    [Parameter]
    public string id { get; set; }

    Service service = new Service();
    
    protected override async Task OnInitializedAsync()
    {
        service = await Http.GetFromJsonAsync<Service>("api/ServicesController/" + id);
    }

    protected async Task Delete()
    {
        await Http.DeleteAsync("api/ServicesController/" + id);
        NavigationManager.NavigateTo("/Service");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/Service");
    }
}