@page "/Event/Update"

@using Junct.WASM.Hosted.Shared.Models

@inject HttpClient Http
@inject NavigationManager NavigationManager

<Container Fluid="true">
    <Label Class="text-white">Title</Label>
    <TextEdit Placeholder="Title" @bind="@meet.Title" />
    <Label Class="text-white">Description</Label>
    <TextEdit Placeholder="Description" @bind="@meet.Description" />
    <Label Class="text-white">Event Start Date</Label>
    <DateEdit TValue="DateTime?" Date="@startDate" DateChanged="@OnChangeStart"
              Placeholder="@DateTime.Now.AddDays(1).ToLongDateString()" />
    <Label Class="text-white">Event End Date</Label>
    <DateEdit TValue="DateTime?" Date="@startDate" DateChanged="@OnChangeEnd"
              Placeholder="@DateTime.Now.AddDays(1).ToLongDateString()" />


    <Buttons Role="ButtonsRole.Toolbar">
        <Buttons>
            <Button Type="ButtonType.Button" Clicked="@UpdateOccasion" Color="Color.Info">Submit</Button>
            <Button Type="ButtonType.Button" Clicked="@Cancel" Color="Color.Secondary">Cancel</Button>
        </Buttons>
    </Buttons>
</Container>

@code {
    [Parameter]
    public string id { get; set; }

    Meet meet = new Meet();
    DateTime? startDate;
    DateTime? endDate;

    protected override async Task OnInitializedAsync()
    {
        meet = await Http.GetFromJsonAsync<Meet>("api/MeetsController/" + id);

        StateHasChanged();
    }

    void OnChangeStart(DateTime? date)
    {
        startDate = date;
    }

    void OnChangeEnd(DateTime? date)
    {
        endDate = date;
    }

    protected async Task UpdateOccasion()
    {
        await Http.PutAsJsonAsync("api/MeetsController/" + id, meet);
        NavigationManager.NavigateTo("/Event");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/Event");
    }
}