@page "/Attendee/Create"
@using Junct.WASM.Hosted.Shared.Models
@using Junct.WASM.Hosted.Client.Pages.Address

@inject HttpClient Http
@inject NavigationManager NavigationManager

<Container Fluid="true">
    <Label>First Name</Label>
    <TextEdit Placeholder="First Name" @bind="@attendee.FirstName" />
    <Label>Surname</Label>
    <TextEdit Placeholder="Surname" @bind="@attendee.LastName" />
    <Label>Phone Number</Label>
    <TextEdit Placeholder="Phone #" @bind="@attendee.PhoneNumber" />
    <Label>Email</Label>
    <TextEdit Placeholder="Email" @bind="@attendee.Email" />
    <Button Type="ButtonType.Button" Clicked="@Create" Color="Color.Primary">Add Attendee</Button>
    <CreateAddress />
</Container>

@code {
    Attendee attendee = new Attendee();
    Address address = new Address();

    protected async Task Create()
    {
        await Http.PostAsJsonAsync("api/AttendeesController", attendee);
        StateHasChanged();
    }
}