@page "/Attendee/List"
@using Junct.WASM.Hosted.Shared.Models

@inject HttpClient Http
@inject NavigationManager NavigationManager

<DataGrid TItem="Attendee"
          Data="@attendees">
    <ChildContent>
        <DataGridCommandColumn TItem="Attendee"
                               NewCommandAllowed="true"
                               EditCommandAllowed="true"
                               DeleteCommandAllowed="true"
                               CancelCommandAllowed="true"
                               SaveCommandAllowed="true" />
        <DataGridColumn TItem="Attendee" Field="@nameof(Attendee.FirstName)" Caption="First Name" Editable="true" Sortable="true" />
        <DataGridColumn TItem="Attendee" Field="@nameof(Attendee.LastName)" Caption="SurName" Editable="true" />
        <DataGridDateColumn TItem="Attendee" Field="@nameof(Attendee.PhoneNumber)" Caption="Phone #" Editable="true" Sortable="true" />
        <DataGridDateColumn TItem="Attendee" Field="@nameof(Attendee.Email)" Caption="Email" Editable="true" Sortable="true" />
        <DataGridColumn TItem="Attendee" Field="@nameof(Attendee.Address)" Caption="Adress" Editable="true" />
    </ChildContent>
    <EmptyTemplate>
        <div class="box">
            No Guests Found!
        </div>
    </EmptyTemplate>
    <LoadingTemplate>
        <div class="box">
            <progress class="progress is-small is-primary" max="100" />
        </div>
    </LoadingTemplate>
</DataGrid>

@code {
    Attendee[] attendees = null;
    int totalAttendees;

    async Task LoadEventsFromService(DataGridReadDataEventArgs<Attendee> a)
    {
        var response = await Http.GetFromJsonAsync<Attendee[]>($"api/AttendeesController");

        attendees = response.ToArray();
        totalAttendees = response.Count();
        StateHasChanged();
    }
}