@using Junct.WASM.Hosted.Shared.Models

@inject HttpClient Http
@inject NavigationManager NavigationManager

<Fields>
    <Field ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnTablet">
        <FieldLabel>Street Address Line 1</FieldLabel>
        <TextEdit Placeholder="Street Address Line 1" @bind="@address.StreetLine1" />
    </Field>
    <Field ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnTablet">
        <FieldLabel>Street Address Line 2</FieldLabel>
        <TextEdit Placeholder="Street Address Line 2" @bind="@address.StreetLine2" />
    </Field>
</Fields>
<Fields>
    <Field ColumnSize="ColumnSize.Is6.OnDesktop.Is6.OnTablet">
        <FieldLabel>City</FieldLabel>
        <TextEdit Placeholder="City" @bind="@address.City" />
    </Field>
    <Field ColumnSize="ColumnSize.Is4.OnDesktop.Is6.OnTablet">
        <FieldLabel>State</FieldLabel>
        <TextEdit Placeholder="State" @bind="@address.State" />
    </Field>
    <Field ColumnSize="ColumnSize.Is2.OnDesktop.Is6.OnTablet">
        <FieldLabel>Country</FieldLabel>
        <TextEdit Placeholder="Country" @bind="@address.Country" />
    </Field>
</Fields>
<Fields>
    <Field ColumnSize="ColumnSize.Is12">
        <Button Type="ButtonType.Button" Clicked="@Create" Color="Color.Secondary">Add Address</Button>
    </Field>
</Fields>

@code {
    Address address = new Address();

    protected async Task Create()
    {
        await Http.PostAsJsonAsync("api/AddressesController", address);
        StateHasChanged();
    }

}